@charset "UTF-8";
/*видалити крапки списка  */
.list {
  list-style: none;
  padding: 0;
  margin: 0px;
}

/* ховае заголовки */
.visually {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  -webkit-clip-path: inset(100%);
          clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

:root {
  --primary-text-color: #757575;
  --title-text-color: #212121;
  --accent-color: #2196F3;
  --primary-white-color: #FFFFFF;
  --primary-black-color: #000000;
  --background-button-color: #F5F4FA;
  --line-color: #ececec;
  --background-hero: #2F303A;
  --icon-color: #AFB1B8;
  --footer-icon-background: rgba(255, 255, 255, 0.1);
  --border-color: #EEEEEE;
  --btn-hover-hero: #188CE8;
  --timing: cubic-bezier(0.4, 0, 0.2, 1);
}

body {
  background-color: var(--primary-white-color);
  color: var(--primary-text-color);
  font-size: 14px;
  font-family: roboto, sans-serif;
  letter-spacing: 0.03em;
}

.container {
  max-width: 480px;
  height: auto;
  padding-left: 15px;
  padding-right: 15px;
  margin-left: auto;
  margin-right: auto;
  margin-top: 0;
}
@media screen and (min-width: 768px) {
  .container {
    max-width: 768px;
  }
}
@media screen and (min-width: 1200px) {
  .container {
    max-width: 1200px;
  }
}

.hero-container {
  background-image: -webkit-gradient(linear, left top, right top, from(rgba(47, 48, 58, 0.4)), to(rgba(47, 48, 58, 0.4))), url("../img/background-hero-tel.jpg");
  background-image: linear-gradient(to right, rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)), url("../img/background-hero-tel.jpg");
  max-width: 480px;
  height: auto;
  margin: 0 auto;
  padding-top: 118px;
  padding-bottom: 118px;
  padding-left: 60px;
  padding-right: 60px;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  text-align: center;
}
@media screen and (min-width: 768px) {
  .hero-container {
    background-image: -webkit-gradient(linear, left top, right top, from(rgba(47, 48, 58, 0.4)), to(rgba(47, 48, 58, 0.4))), url("../img/background-hero-tab.jpg");
    background-image: linear-gradient(to right, rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)), url("../img/background-hero-tab.jpg");
    max-width: 768px;
  }
}
@media screen and (min-width: 1200px) {
  .hero-container {
    background-image: -webkit-gradient(linear, left top, right top, from(rgba(47, 48, 58, 0.4)), to(rgba(47, 48, 58, 0.4))), url("../img/background-hero.jpg");
    background-image: linear-gradient(to right, rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)), url("../img/background-hero.jpg");
    max-width: 1200px;
  }
}

/* header */
.line {
  border-bottom: 1px solid var(--line-color);
}

.header {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

/* навігація */
.site-nav {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}
.site-nav .item + .item {
  margin-left: 50px;
}
.site-nav .link {
  display: block;
  padding-top: 32px;
  padding-bottom: 32px;
  color: var(--title-text-color);
  font-weight: 500;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.02em;
  text-decoration: none;
  -webkit-transition-property: color, fill;
  transition-property: color, fill;
  -webkit-transition-duration: 250ms;
          transition-duration: 250ms;
  -webkit-transition-timing-function: var(--timing);
          transition-timing-function: var(--timing);
}
.site-nav .link:hover, .site-nav .link:focus {
  color: var(--accent-color);
}
.site-nav .link.current {
  position: relative;
  color: var(--accent-color);
}
.site-nav .link.current::after {
  display: block;
  position: absolute;
  bottom: 0;
  left: 0;
  content: "";
  width: 100%;
  height: 4px;
  border-radius: 2px;
  background-color: var(--accent-color);
}

.contact-nav {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin-left: auto;
}
.contact-nav .item + .item {
  margin-left: 50px;
}
.contact-nav .item:hover .contact-icons, .contact-nav .item:focus .contact-icons {
  fill: var(--accent-color);
}
.contact-nav .link {
  display: block;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding-top: 32px;
  padding-bottom: 32px;
  color: var(--primary-text-color);
  font-weight: 500;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.02em;
  text-decoration: none;
  -webkit-transition-property: color, fill;
  transition-property: color, fill;
  -webkit-transition-duration: 250ms;
          transition-duration: 250ms;
  -webkit-transition-timing-function: var(--timing);
          transition-timing-function: var(--timing);
}
.contact-nav .link:hover, .contact-nav .link:focus {
  color: var(--accent-color);
}

.contact-icons {
  fill: var(--icon-color);
  margin-right: 10px;
  -webkit-transition-property: color, fill;
  transition-property: color, fill;
  -webkit-transition-duration: 250ms;
          transition-duration: 250ms;
  -webkit-transition-timing-function: var(--timing);
          transition-timing-function: var(--timing);
}

.logo {
  display: block;
  padding-top: 24px;
  padding-bottom: 25px;
  margin-right: 93px;
  color: var(--primary-black-color);
  font-family: raleway, sans-serif;
  letter-spacing: 0.03em;
  font-weight: 700;
  font-size: 26px;
  line-height: 1.19;
  text-decoration: none;
}

.logo-style {
  color: var(--accent-color);
}

.hero .hero-title {
  width: 360px;
  height: auto;
  padding-top: 0px;
  margin-top: 0;
  margin-bottom: 30px;
  color: var(--primary-white-color);
  font-weight: 900;
  font-size: 26px;
  line-height: 42px;
  text-align: center;
  letter-spacing: 0.06em;
  text-transform: uppercase;
}
@media screen and (min-width: 768px) {
  .hero .hero-title {
    width: 100%;
  }
}
@media screen and (min-width: 1200px) {
  .hero .hero-title {
    font-size: 44px;
    line-height: 60px;
  }
}

.peculiarities-list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 100%;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
@media screen and (min-width: 480px) {
  .peculiarities-list {
    max-width: 480px;
  }
}
@media screen and (min-width: 768px) {
  .peculiarities-list {
    max-width: 768px;
  }
}
@media screen and (min-width: 1200px) {
  .peculiarities-list {
    max-width: 1200px;
  }
}
.peculiarities-list .item {
  width: 100%;
  margin-bottom: 30px;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 270px;
  height: auto;
}
@media screen and (min-width: 480px) {
  .peculiarities-list .item {
    width: 450px;
  }
}
@media screen and (min-width: 768px) {
  .peculiarities-list .item {
    width: 354px;
  }
}
@media screen and (min-width: 1200px) {
  .peculiarities-list .item {
    width: 270px;
  }
}
.peculiarities-list .title {
  margin-top: 0;
  margin-bottom: 10px;
  color: var(--title-text-color);
  font-weight: 700;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.03em;
}
@media screen and (min-width: 480px) {
  .peculiarities-list .title {
    text-align: center;
  }
}
@media screen and (min-width: 768px) {
  .peculiarities-list .title {
    text-align: left;
  }
}
@media screen and (min-width: 1200px) {
  .peculiarities-list .title {
    text-align: left;
  }
}
.peculiarities-list .subtitle {
  margin-top: 0;
  margin-bottom: 0px;
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.03em;
}

.peculiarities-item {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 270px;
  height: 120px;
  margin-bottom: 30px;
  background-color: var(--background-button-color);
  border-radius: 4px;
}
@media screen and (min-width: 480px) {
  .peculiarities-item {
    width: 450px;
  }
}
@media screen and (min-width: 768px) {
  .peculiarities-item {
    width: 354px;
  }
}
@media screen and (min-width: 1200px) {
  .peculiarities-item {
    width: 270px;
  }
}

.peculiarities {
  padding-top: 60px;
}

@media screen and (min-width: 768px) {
  .peculiarities-margin:nth-child(2n+1) {
    margin-right: 30px;
  }
}
@media screen and (min-width: 1200px) {
  .peculiarities-margin:nth-last-child(2) {
    margin-left: 30px;
  }
}
.peculiarities-margin {
  height: 248px;
}

.worck-subtitle {
  position: absolute;
  bottom: 0;
  right: 0;
  width: 370px;
  margin: 0;
  text-align: center;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  max-width: 370px;
  min-height: 70px;
  background: rgba(47, 48, 58, 0.8);
  color: var(--primary-white-color);
  font-weight: 700;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.03em;
  text-transform: uppercase;
}

.worck {
  padding-top: 0px;
  padding-bottom: 94px;
}
@media screen and (min-width: 480px) {
  .worck {
    display: none;
  }
}
@media screen and (min-width: 768px) {
  .worck {
    display: none;
  }
}
@media screen and (min-width: 1200px) {
  .worck {
    display: block;
  }
}
.worck .item {
  position: relative;
}
.worck .item + .item {
  margin-left: 30px;
}
.worck .worck-title {
  margin-top: 0;
  margin-bottom: 50px;
  color: var(--title-text-color);
  font-weight: 700;
  font-size: 36px;
  line-height: 1.16;
  text-align: center;
  letter-spacing: 0.03em;
}

.worck-list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}
.worck-list img {
  display: block;
  height: auto;
  max-width: 100%;
}

.team-icon {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.item-icon {
  width: 44px;
  height: 44px;
}
.item-icon:not(:last-child) {
  margin-right: 10px;
}

.item-img-icon {
  fill: var(--icon-color);
}

.team-icon-link {
  width: 100%;
  height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  border-radius: 50%;
  -webkit-transition-property: background-color, fill;
  transition-property: background-color, fill;
  -webkit-transition-duration: 250ms;
          transition-duration: 250ms;
  -webkit-transition-timing-function: var(--timing);
          transition-timing-function: var(--timing);
}
.team-icon-link:hover, .team-icon-link:focus {
  background-color: var(--accent-color);
}
.team-icon-link:hover .item-img-icon, .team-icon-link:focus .item-img-icon {
  fill: var(--primary-white-color);
}

.section-team {
  padding-top: 94px;
  padding-bottom: 94px;
  background-color: var(--background-button-color);
}
.section-team .section-title {
  margin-top: 0;
  margin-bottom: 50px;
  color: var(--title-text-color);
  font-weight: 700;
  font-size: 36px;
  line-height: 1.16;
  text-align: center;
  letter-spacing: 0.03em;
}
@media screen and (min-width: 480px) {
  .section-team .section-title {
    margin-bottom: 30px;
  }
}
@media screen and (min-width: 768px) {
  .section-team .section-title {
    margin-bottom: 0px;
  }
}
@media screen and (min-width: 1200px) {
  .section-team .section-title {
    margin-bottom: 20px;
  }
}

.team-about {
  border-radius: 4px;
  border-left: 1px solid var(--border-color);
  border-right: 1px solid var(--border-color);
  border-bottom: 1px solid var(--border-color);
  background-color: var(--primary-white-color);
  padding-top: 30px;
  padding-bottom: 30px;
}

.team {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  margin-top: 0;
  max-width: 100%;
}
@media screen and (min-width: 480px) {
  .team .item + .item {
    margin-left: 0px;
    margin-top: 30px;
  }
}
@media screen and (min-width: 768px) {
  .team .item:nth-child(2n+1) {
    max-width: 768px;
    margin-right: 30px;
    margin-top: 30px;
  }
}
@media screen and (min-width: 1200px) {
  .team .item:nth-last-child(2) {
    margin-left: 30px;
  }
}
.team .item {
  border-radius: 4px;
  -webkit-box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
          box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
}
.team .item img {
  width: 100%;
  height: auto;
  display: block;
  background-color: var(--primary-white-color);
}
@media screen and (min-width: 768px) {
  .team .item img {
    max-width: 354px;
  }
}
@media screen and (min-width: 1200px) {
  .team .item img {
    max-width: 270px;
  }
}
.team .title {
  margin-top: 0;
  margin-bottom: 10px;
  color: var(--title-text-color);
  font-weight: 500;
  font-size: 16px;
  line-height: 1.18;
  text-align: center;
  letter-spacing: 0.03em;
}
.team .subtitle {
  margin-top: 0;
  margin-bottom: 16px;
  font-size: 16px;
  line-height: 1.18;
  text-align: center;
  letter-spacing: 0.03em;
}

.clients {
  padding-top: 94px;
  padding-bottom: 94px;
}

.clients-title {
  margin-top: 0;
  margin-bottom: 50px;
  color: var(--title-text-color);
  font-weight: 700;
  font-size: 36px;
  line-height: 1.16;
  text-align: center;
  letter-spacing: 0.03em;
}

.client-icon-link {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 170px;
  height: 92px;
  border: 1px solid var(--border-color);
  border-radius: 4px;
  -webkit-transition-property: fill, border;
  transition-property: fill, border;
  -webkit-transition-duration: 250ms;
          transition-duration: 250ms;
  -webkit-transition-timing-function: var(--timing);
          transition-timing-function: var(--timing);
}
@media screen and (min-width: 480px) {
  .client-icon-link {
    width: 210px;
    height: 92px;
    margin-bottom: 30px;
  }
}
@media screen and (min-width: 768px) {
  .client-icon-link {
    width: 226px;
    height: 92px;
    margin-bottom: 30px;
  }
}
@media screen and (min-width: 1200px) {
  .client-icon-link {
    width: 170px;
    height: 92px;
    margin-bottom: 30px;
  }
}
.client-icon-link:hover .item-img-icon, .client-icon-link:focus .item-img-icon {
  fill: var(--accent-color);
}
.client-icon-link:hover, .client-icon-link:focus {
  border: 1px solid var(--accent-color);
}

.item-img-icon {
  -webkit-transition-property: fill, border;
  transition-property: fill, border;
  -webkit-transition-duration: 250ms;
          transition-duration: 250ms;
  -webkit-transition-timing-function: var(--timing);
          transition-timing-function: var(--timing);
}

.clients-list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}
@media screen and (min-width: 480px) {
  .clients-list {
    width: 480px;
    height: auto;
  }
}
@media screen and (min-width: 768px) {
  .clients-list {
    width: 768px;
    height: auto;
  }
}
@media screen and (min-width: 1200px) {
  .clients-list {
    width: 1200px;
    height: auto;
  }
}

@media screen and (min-width: 480px) {
  .client-item {
    margin-right: 30px;
  }
}
@media screen and (min-width: 768px) {
  .client-item {
    margin-right: 30px;
  }
}
@media screen and (min-width: 1200px) {
  .client-item:nth-last-child(2) {
    margin-right: 30px;
  }
}
.project {
  padding-top: 98px;
  padding-bottom: 90px;
}

.project-about {
  padding-left: 24px;
  padding-right: 24px;
  padding-top: 20px;
  padding-bottom: 20px;
  width: 370px;
  border-bottom: 1px solid var(--border-color);
  border-right: 1px solid var(--border-color);
  border-left: 1px solid var(--border-color);
}

.project-link {
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}
.project-link img {
  display: block;
  height: auto;
  max-width: 100%;
}
.project-link .item:nth-child(-n+6) {
  margin-bottom: 30px;
}
.project-link .item:hover, .project-link .item:focus {
  -webkit-box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.12), 0px 4px 4px rgba(0, 0, 0, 0.06), 1px 4px 6px rgba(0, 0, 0, 0.16);
          box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.12), 0px 4px 4px rgba(0, 0, 0, 0.06), 1px 4px 6px rgba(0, 0, 0, 0.16);
  -webkit-transition-property: -webkit-box-shadow;
  transition-property: -webkit-box-shadow;
  transition-property: box-shadow;
  transition-property: box-shadow, -webkit-box-shadow;
  -webkit-transition-duration: 250ms;
          transition-duration: 250ms;
  -webkit-transition-timing-function: var(--timing);
          transition-timing-function: var(--timing);
}
.project-link .title {
  margin-top: 0px;
  margin-bottom: 4px;
  color: var(--title-text-color);
  font-weight: 700;
  font-size: 18px;
  line-height: 36px;
  letter-spacing: 0.06em;
}
.project-link .link {
  margin-top: 0;
  margin-bottom: 0px;
  color: var(--primary-text-color);
  text-decoration: none;
  font-size: 16px;
  line-height: 30px;
  letter-spacing: 0.03em;
}
.project-link .subtitle {
  margin-top: 0;
  margin-bottom: 0px;
  font-size: 16px;
  line-height: 30px;
  letter-spacing: 0.03em;
}

.project-btn {
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-top: 0;
  margin-bottom: 50px;
}
.project-btn .item + .item {
  margin-left: 8px;
}

.project-overlay {
  position: relative;
  overflow: hidden;
}

.link:hover .project-subtitle {
  -webkit-transform: translateY(0);
          transform: translateY(0);
}

.project-subtitle {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  margin: 0;
  padding: 63px 24px;
  font-size: 18px;
  line-height: 1.56;
  color: var(--primary-white-color);
  background-color: rgba(33, 150, 243, 0.9);
  -webkit-transform: translateY(100%);
          transform: translateY(100%);
  -webkit-transition-duration: 250ms;
          transition-duration: 250ms;
  -webkit-transition-timing-function: var(--timing);
          transition-timing-function: var(--timing);
}

.button-hero {
  -webkit-transition-duration: 250ms;
          transition-duration: 250ms;
  -webkit-transition-timing-function: var(--timing);
          transition-timing-function: var(--timing);
  border: 1px solid transparent;
  display: inline-block;
  margin-top: 0;
  border-radius: 4px;
  padding: 10px 32px;
  min-width: 216px;
  cursor: pointer;
  color: var(--primary-white-color);
  background-color: var(--accent-color);
  font-weight: 700;
  font-size: 16px;
  line-height: 1.85;
  letter-spacing: 0.06em;
  font-family: roboto, sans-serif;
  text-align: center;
}
.button-hero:hover, .button-hero:focus {
  background-color: var(--btn-hover-hero);
  -webkit-box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 1px 2px rgba(0, 0, 0, 0.08), 0px 2px 2px rgba(0, 0, 0, 0.12);
          box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 1px 2px rgba(0, 0, 0, 0.08), 0px 2px 2px rgba(0, 0, 0, 0.12);
}

.button {
  padding: 6px 22px;
  border: 1px solid transparent;
  display: inline-block;
  border-radius: 4px;
  min-width: 73px;
  text-align: center;
  cursor: pointer;
  color: var(--primary-black-color);
  background-color: var(--background-button-color);
  font-weight: 500;
  font-size: 16px;
  line-height: 1.62;
  letter-spacing: 0.03em;
  font-family: roboto, sans-serif;
  -webkit-transition-property: background-color, colour, -webkit-box-shadow;
  transition-property: background-color, colour, -webkit-box-shadow;
  transition-property: background-color, colour, box-shadow;
  transition-property: background-color, colour, box-shadow, -webkit-box-shadow;
  -webkit-transition-duration: 250ms;
          transition-duration: 250ms;
  -webkit-transition-timing-function: var(--timing);
          transition-timing-function: var(--timing);
}
.button:hover, .button:focus {
  color: var(--primary-white-color);
  background-color: var(--accent-color);
  -webkit-box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 1px 2px rgba(0, 0, 0, 0.08), 0px 2px 2px rgba(0, 0, 0, 0.12);
          box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 1px 2px rgba(0, 0, 0, 0.08), 0px 2px 2px rgba(0, 0, 0, 0.12);
}

.button-hero {
  -webkit-transition-duration: 250ms;
          transition-duration: 250ms;
  -webkit-transition-timing-function: var(--timing);
          transition-timing-function: var(--timing);
  border: 1px solid transparent;
  display: inline-block;
  margin-top: 0;
  border-radius: 4px;
  padding: 10px 32px;
  min-width: 216px;
  cursor: pointer;
  color: var(--primary-white-color);
  background-color: var(--accent-color);
  font-weight: 700;
  font-size: 16px;
  line-height: 1.85;
  letter-spacing: 0.06em;
  font-family: roboto, sans-serif;
  text-align: center;
}
.button-hero:hover, .button-hero:focus {
  background-color: var(--btn-hover-hero);
  -webkit-box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 1px 2px rgba(0, 0, 0, 0.08), 0px 2px 2px rgba(0, 0, 0, 0.12);
          box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 1px 2px rgba(0, 0, 0, 0.08), 0px 2px 2px rgba(0, 0, 0, 0.12);
}

.button {
  padding: 6px 22px;
  border: 1px solid transparent;
  display: inline-block;
  border-radius: 4px;
  min-width: 73px;
  text-align: center;
  cursor: pointer;
  color: var(--primary-black-color);
  background-color: var(--background-button-color);
  font-weight: 500;
  font-size: 16px;
  line-height: 1.62;
  letter-spacing: 0.03em;
  font-family: roboto, sans-serif;
  -webkit-transition-property: background-color, colour, -webkit-box-shadow;
  transition-property: background-color, colour, -webkit-box-shadow;
  transition-property: background-color, colour, box-shadow;
  transition-property: background-color, colour, box-shadow, -webkit-box-shadow;
  -webkit-transition-duration: 250ms;
          transition-duration: 250ms;
  -webkit-transition-timing-function: var(--timing);
          transition-timing-function: var(--timing);
}
.button:hover, .button:focus {
  color: var(--primary-white-color);
  background-color: var(--accent-color);
  -webkit-box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 1px 2px rgba(0, 0, 0, 0.08), 0px 2px 2px rgba(0, 0, 0, 0.12);
          box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 1px 2px rgba(0, 0, 0, 0.08), 0px 2px 2px rgba(0, 0, 0, 0.12);
}

.footer-container {
  width: 231px;
  display: inline-block;
}
@media screen and (min-width: 480px) {
  .footer-container {
    text-align: center;
    margin: 0 auto;
  }
}
@media screen and (min-width: 768px) {
  .footer-container {
    text-align: center;
    margin-left: 61px;
    margin-right: 0;
  }
}
@media screen and (min-width: 1200px) {
  .footer-container {
    margin: 0;
    width: 231px;
    display: inline-block;
    text-align: left;
    -ms-flex-preferred-size: 25%;
        flex-basis: 25%;
  }
}

.logo-footer {
  margin-bottom: 20px;
  display: inline-block;
  color: var(--primary-white-color);
  font-family: raleway, sans-serif;
  letter-spacing: 0.03em;
  font-weight: 700;
  font-size: 26px;
  line-height: 1.19;
  text-decoration: none;
}

.footer {
  padding-top: 60px;
  padding-bottom: 60px;
  background-color: var(--background-hero);
}
.footer .container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: baseline;
      -ms-flex-align: baseline;
          align-items: baseline;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.footer-link .link {
  color: rgba(255, 255, 255, 0.6);
  text-decoration: none;
  font-size: 14px;
  line-height: 24px;
  letter-spacing: 0.03em;
  -webkit-transition-property: color, fill;
  transition-property: color, fill;
  -webkit-transition-duration: 250ms;
          transition-duration: 250ms;
  -webkit-transition-timing-function: var(--timing);
          transition-timing-function: var(--timing);
}
.footer-link .link.footer-list:not(:last-child) {
  margin-bottom: 9px;
}
.footer-link .link.link:hover, .footer-link .link.link:focus {
  color: var(--accent-color);
}
.footer-link .link.maps {
  color: var(--primary-white-color);
  font-style: normal;
  font-size: 14px;
  line-height: 24px;
  letter-spacing: 0.03em;
}
@media screen and (min-width: 480px) {
  .footer-link .link.maps {
    margin-bottom: 8px;
  }
}

.address {
  color: var(--primary-white-color);
  font-style: normal;
  font-size: 14px;
  line-height: 24px;
  letter-spacing: 0.03em;
}

.join-container {
  margin-left: 70px;
  display: inline-block;
}
@media screen and (min-width: 480px) {
  .join-container {
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    margin: 0 auto;
    text-align: center;
    margin-top: 60px;
    width: 100%;
  }
}
@media screen and (min-width: 768px) {
  .join-container {
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    margin: 0 auto;
    text-align: center;
    -ms-flex-preferred-size: 50%;
        flex-basis: 50%;
    width: 100%;
  }
}
@media screen and (min-width: 1200px) {
  .join-container {
    margin: 0;
    display: inline-block;
    -ms-flex-preferred-size: 25%;
        flex-basis: 25%;
    text-align: left;
  }
}

.footer-join {
  display: inline-block;
  margin-top: 0;
  margin-bottom: 20px;
  font-weight: 700;
  font-size: 14px;
  line-height: 16px;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: var(--primary-white-color);
}

.footer-item-icon {
  width: 44px;
  height: 44px;
  display: inline-block;
}
.footer-item-icon:not(:last-child) {
  margin-right: 10px;
}

.footer-img-icon {
  fill: var(--primary-white-color);
}

.footer-icon-link {
  width: 100%;
  height: 100%;
  background-color: var(--footer-icon-background);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  border-radius: 50%;
  -webkit-transition-property: background-color, fill;
  transition-property: background-color, fill;
  -webkit-transition-duration: 250ms;
          transition-duration: 250ms;
  -webkit-transition-timing-function: var(--timing);
          transition-timing-function: var(--timing);
}
.footer-icon-link:hover, .footer-icon-link:focus {
  background-color: var(--accent-color);
}
.footer-icon-link:hover .footer-img-icon, .footer-icon-link:focus .footer-img-icon {
  fill: var(--primary-white-color);
}

/* Footer підпис на розсилку */
.subscribe-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  margin-left: 0;
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: flex-end;
}
@media screen and (min-width: 480px) {
  .subscribe-container {
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    width: 100%;
    margin: 0;
    text-align: center;
    display: block;
    margin-top: 60px;
  }
}
@media screen and (min-width: 768px) {
  .subscribe-container {
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    width: 100%;
    margin: 0 auto;
    text-align: center;
    display: block;
    margin-top: 60px;
  }
}
@media screen and (min-width: 1200px) {
  .subscribe-container {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    margin-left: 0;
    -ms-flex-preferred-size: 25%;
        flex-basis: 25%;
    text-align: left;
    margin: 0;
    -webkit-box-align: end;
        -ms-flex-align: end;
            align-items: flex-end;
    width: 100%;
    display: -webkit-inline-box;
    display: -ms-inline-flexbox;
    display: inline-flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
}
.subscribe-container .button-hero {
  min-width: 200px;
  height: 50px;
  margin-left: 12px;
  font-size: 16px;
  line-height: 30px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
@media screen and (min-width: 480px) {
  .subscribe-container .button-hero {
    margin: 0 auto;
    margin-top: 20px;
  }
}
@media screen and (min-width: 768px) {
  .subscribe-container .button-hero {
    margin: 0 auto;
    margin-top: 20px;
  }
}
@media screen and (min-width: 1200px) {
  .subscribe-container .button-hero {
    max-width: 200px;
    height: 50px;
    margin-left: 0;
    font-size: 16px;
    line-height: 30px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    margin: 0;
    display: -webkit-inline-box;
    display: -ms-inline-flexbox;
    display: inline-flex;
    align-items: center;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
}

.subscribe-img-icon {
  margin-left: 10px;
  fill: var(--primary-white-color);
}

.lisense {
  color: var(--accent-color);
  margin-left: 4px;
}

.subscribe-form-container label {
  font-family: "Roboto";
  font-style: normal;
  font-weight: 700;
  font-size: 14px;
  line-height: 16px;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: var(--primary-white-color);
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}
.subscribe-form-container label.title {
  margin-bottom: 20px;
  display: block;
}
.subscribe-form-container label.subscribe-form {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.subscribe-form {
  color: var(--primary-white-color);
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  padding-left: 16px;
  padding-right: 16px;
  width: 358px;
  height: 50px;
  background: transparent;
  border: 1px solid rgba(255, 255, 255, 0.3);
  -webkit-filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.15));
          filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.15));
  border-radius: 4px;
  -webkit-transition-duration: 250ms;
          transition-duration: 250ms;
  -webkit-transition-timing-function: var(--timing);
          transition-timing-function: var(--timing);
}
.subscribe-form::-webkit-input-placeholder {
  font-family: "Roboto";
  font-style: normal;
  font-family: "Roboto";
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 20px;
  -webkit-box-align: center;
          align-items: center;
  letter-spacing: 0.03em;
  color: rgba(255, 255, 255, 0.6);
}
.subscribe-form::-moz-placeholder {
  font-family: "Roboto";
  font-style: normal;
  font-family: "Roboto";
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 20px;
  align-items: center;
  letter-spacing: 0.03em;
  color: rgba(255, 255, 255, 0.6);
}
.subscribe-form:-ms-input-placeholder {
  font-family: "Roboto";
  font-style: normal;
  font-family: "Roboto";
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 20px;
  -ms-flex-align: center;
      align-items: center;
  letter-spacing: 0.03em;
  color: rgba(255, 255, 255, 0.6);
}
.subscribe-form::-ms-input-placeholder {
  font-family: "Roboto";
  font-style: normal;
  font-family: "Roboto";
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 20px;
  -ms-flex-align: center;
      align-items: center;
  letter-spacing: 0.03em;
  color: rgba(255, 255, 255, 0.6);
}
.subscribe-form::placeholder {
  font-family: "Roboto";
  font-style: normal;
  font-family: "Roboto";
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 20px;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  letter-spacing: 0.03em;
  color: rgba(255, 255, 255, 0.6);
}
.subscribe-form:hover, .subscribe-form:focus {
  border: 1px solid var(--accent-color);
  outline: transparent;
}

.modal-img-icon {
  position: absolute;
  top: 50%;
  left: 12px;
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
  fill: var(--title-text-color);
  -webkit-transition-duration: 250ms;
          transition-duration: 250ms;
  -webkit-transition-timing-function: var(--timing);
          transition-timing-function: var(--timing);
}

.modal-input-wrapper {
  position: relative;
}

.modal-input-group {
  margin-bottom: 10px;
}
.modal-input-group label {
  display: block;
  font-size: 12px;
  line-height: 14px;
  letter-spacing: 0.01em;
  margin-bottom: 4px;
}

.modal-comment label {
  display: block;
  font-size: 12px;
  line-height: 14px;
  letter-spacing: 0.01em;
  margin-bottom: 4px;
}

.modal-heading {
  margin-top: 0;
  margin-bottom: 12px;
  font-family: "Roboto";
  font-style: normal;
  font-weight: 700;
  font-size: 20px;
  line-height: 23px;
  text-align: center;
  letter-spacing: 0.03em;
  color: var(--title-text-color);
}

.modal-input {
  padding-right: 16px;
  padding-left: 42px;
  width: 100%;
  height: 40px;
  border: 1px solid rgba(33, 33, 33, 0.2);
  border-radius: 4px;
  -webkit-transition-duration: 250ms;
          transition-duration: 250ms;
  -webkit-transition-timing-function: var(--timing);
          transition-timing-function: var(--timing);
}
.modal-input:hover, .modal-input:focus {
  border: 1px solid var(--accent-color);
  outline: transparent;
}
.modal-input:hover + svg, .modal-input:focus + svg {
  fill: var(--accent-color);
}

.modal-input-comment {
  padding-right: 16px;
  padding-left: 16px;
  padding-top: 12px;
  padding-bottom: 12px;
  margin-bottom: 20px;
  width: 100%;
  height: 120px;
  border: 1px solid rgba(33, 33, 33, 0.2);
  border-radius: 4px;
  resize: none;
  -webkit-transition-duration: 250ms;
          transition-duration: 250ms;
  -webkit-transition-timing-function: var(--timing);
          transition-timing-function: var(--timing);
}
.modal-input-comment:hover, .modal-input-comment:focus {
  border: 1px solid var(--accent-color);
  outline: transparent;
}
.modal-input-comment::-webkit-input-placeholder {
  font-family: "Roboto";
  font-style: normal;
  font-size: 12px;
  line-height: 14px;
  letter-spacing: 0.01em;
  color: rgba(117, 117, 117, 0.5);
}
.modal-input-comment::-moz-placeholder {
  font-family: "Roboto";
  font-style: normal;
  font-size: 12px;
  line-height: 14px;
  letter-spacing: 0.01em;
  color: rgba(117, 117, 117, 0.5);
}
.modal-input-comment:-ms-input-placeholder {
  font-family: "Roboto";
  font-style: normal;
  font-size: 12px;
  line-height: 14px;
  letter-spacing: 0.01em;
  color: rgba(117, 117, 117, 0.5);
}
.modal-input-comment::-ms-input-placeholder {
  font-family: "Roboto";
  font-style: normal;
  font-size: 12px;
  line-height: 14px;
  letter-spacing: 0.01em;
  color: rgba(117, 117, 117, 0.5);
}
.modal-input-comment::placeholder {
  font-family: "Roboto";
  font-style: normal;
  font-size: 12px;
  line-height: 14px;
  letter-spacing: 0.01em;
  color: rgba(117, 117, 117, 0.5);
}

.form-container {
  padding-left: 40px;
  padding-right: 40px;
  padding-bottom: 40px;
  padding-top: 40px;
}
.form-container .button-hero {
  display: block;
  margin-right: auto;
  margin-left: auto;
}

.input-checkbox {
  margin-bottom: 30px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

/* Модельне вікно контейнер*/
.backdrop {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.2);
  -webkit-transition-duration: 250ms;
          transition-duration: 250ms;
  -webkit-transition-timing-function: var(--timing);
          transition-timing-function: var(--timing);
}
.backdrop.is-hidden {
  opacity: 0;
  pointer-events: none;
  -webkit-transition-duration: 250ms;
          transition-duration: 250ms;
  -webkit-transition-timing-function: var(--timing);
          transition-timing-function: var(--timing);
}

.modal-button {
  position: absolute;
  top: 8px;
  right: 8px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 30px;
  height: 30px;
  border-radius: 50%;
  cursor: pointer;
  background-color: var(--primary-white-color);
  border: 1px solid rgba(0, 0, 0, 0.1);
  -webkit-transition-duration: 250ms;
          transition-duration: 250ms;
  -webkit-transition-timing-function: var(--timing);
          transition-timing-function: var(--timing);
}
.modal-button:hover, .modal-button:focus {
  fill: var(--accent-color);
}

.modal {
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  width: 528px;
  height: 581px;
  background-color: var(--primary-white-color);
  -webkit-box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
          box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
  border-radius: 4px;
}

.modal-politic-check {
  width: 16px;
  height: 15px;
  border: 2px solid var(--title-text-color);
  border-radius: 2px;
  margin-right: 7px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-transition-duration: 250ms;
          transition-duration: 250ms;
  -webkit-transition-timing-function: var(--timing);
          transition-timing-function: var(--timing);
  cursor: pointer;
}
.modal-politic-check svg {
  fill: transparent;
}
.modal-politic-check:checked + label > span {
  border: none;
  background-color: var(--accent-color);
}
.modal-politic-check:checked + label > span svg {
  fill: var(--primary-white-color);
}

.modal-politic-label {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}/*# sourceMappingURL=main.css.map */