@import './utils/reset';
@import './utils/vars';
@import './utils/mixin.scss';
@import './components/container';
@import './components/header';
@import './utils/logo.scss';
@import './components/hero.scss';
@import './components/peculiarities';
@import './components/worck';
@import './components/team';
@import './components/clients';
@import './components/projects';
@import './components/projects-overlay';
@import './components/button';
@import './components/button';
@import './components/footer';
@import './components/modal';

 

 


  

  
 
  



 