
.js-open-menu{
    background: none;
    border: 0;
    margin-left: auto;
    @media screen and (min-width: 1200px){
        display: none;
    }
   
}
  .button-hero {

      transition-duration: 250ms;
      transition-timing-function: var(--timing);
      border: 1px solid transparent;
      display: inline-block;
      margin-top: 0;

      border-radius: 4px;
      padding: 10px 32px;
      min-width: 216px;
      cursor: pointer;
      color: var(--primary-white-color);
      background-color: var(--accent-color);
      font-weight: 700;
      font-size: 16px;
      line-height: 1.85;
      letter-spacing: 0.06em;
      font-family: roboto, sans-serif;
      text-align: center;
      &:hover,
      &:focus {
      background-color: var(--btn-hover-hero);
      box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 1px 2px rgba(0, 0, 0, 0.08), 0px 2px 2px rgba(0, 0, 0, 0.12);
  }


  }

  .button {
      padding: 6px 22px;
      border: 1px solid transparent;
      display: inline-block;
      border-radius: 4px;

      min-width: 73px;
      text-align: center;
      cursor: pointer;
      color: var(--primary-black-color);
      background-color: var(--background-button-color);
      font-weight: 500;
      font-size: 16px;
      line-height: 1.62;
      letter-spacing: 0.03em;
      font-family: roboto, sans-serif;
      transition-property: background-color, colour, box-shadow;
      transition-duration: 250ms;
      transition-timing-function: var(--timing);
      &:hover,
      &:focus {
      color: var(--primary-white-color);
      background-color: var(--accent-color);
      box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 1px 2px rgba(0, 0, 0, 0.08), 0px 2px 2px rgba(0, 0, 0, 0.12);
  }


  }

  