.footer-container {
      
      display: inline-block;
      @include tel {
        text-align: center;
     margin: 0 auto;
  }
  @include tablet {
        text-align: start;
     margin-left: 61px;
     width: 264px;
     margin: 0;
    margin-right: 24px;

  }
  @include desktop {
    margin: 0;
         width: 231px;
      display: inline-block;
      text-align: left;
      flex-basis: 25%;
      
  }
  }
  .footer-container .subtitle{
    text-align: left;
  }

  .logo-footer {
      margin-bottom: 20px;
      display: inline-block;

      color: var(--primary-white-color);
      font-family: raleway, sans-serif;
      letter-spacing: 0.03em;
      font-weight: 700;
      font-size: 26px;
      line-height: 1.19;
      text-decoration: none;
       @include tablet {
    
    
      
  }
  }

  .footer {
      padding-top: 60px;
      padding-bottom: 60px;
      background-color: var(--background-hero);
      align-items: center;
      text-align: center;
     & .subtitle{
        margin: 0;
     }
      & .container-footer {
       
      display: flex;
      align-items: baseline;
      align-items: center;
      text-align: center;
      flex-wrap: wrap;
      @include tablet {
   margin-left: 108px;
      
  }
      @include desktop {
    flex-wrap: wrap;
      
  }
  }

  }


  .footer-link .link {
      color: rgba(255, 255, 255, 0.6);
      text-decoration: none;

      font-size: 14px;
      line-height: 24px;
      letter-spacing: 0.03em;
      transition-property: color, fill;
      transition-duration: 250ms;
      transition-timing-function: var(--timing);
      &.footer-list:not(:last-child) {
      margin-bottom: 9px;

  }

  &.link:hover,
  &.link:focus {
      color: var(--accent-color);

  }

  &.maps {
      color: var(--primary-white-color);
      font-style: normal;
      font-size: 14px;
      line-height: 24px;
      letter-spacing: 0.03em;
    @include tel {
     
     margin-bottom: 8px;
     
     
     
  }
  }


  }

  

  .address {
      color: var(--primary-white-color);
      font-style: normal;
      font-size: 14px;
      line-height: 24px;
      letter-spacing: 0.03em;
  }

  
  

  .join-container {
      align-items: center;
      margin-left: auto;
      margin-right: auto;
      margin-top: 72px;
      margin-bottom: 72px;
      display: inline-block;
      @include tel {
     align-items: center;
     margin: 0 auto;
     text-align: center;
     margin-top: 60px;
     width: 100%;
  }
   @include tablet {
     align-items: center;
     margin: 0;
     text-align: start;
     
     
     width: 264px;
  }
  @include desktop{
      margin: 0;
      display: inline-block;
      flex-basis: 25%;
      text-align: left;
      
      
      
      
  }
      
     
  }

  .footer-join {

      display: inline-block;
      margin-top: 0;
      margin-bottom: 20px;
      font-weight: 700;
      font-size: 14px;
      line-height: 16px;
      letter-spacing: 0.03em;
      text-transform: uppercase;
      color: var(--primary-white-color);
  }

  .footer-item-icon {
      width: 44px;
      height: 44px;
      display: inline-block;
      &:not(:last-child) {
      margin-right: 10px;
  }

  }

  .footer-img-icon {
      fill: var(--primary-white-color);
  }

  .footer-icon-link {
      width: 100%;
      height: 100%;
      background-color: var(--footer-icon-background);
      display: flex;
      flex-wrap: wrap;
      justify-content: center;
      align-items: center;
      border-radius: 50%;
      transition-property: background-color, fill;
      transition-duration: 250ms;
      transition-timing-function: var(--timing);
      &:hover,
      &:focus {
      background-color: var(--accent-color);
  }

      &:hover .footer-img-icon,
      &:focus .footer-img-icon {
      fill: var(--primary-white-color);

  }
  }

  

  

  /* Footer підпис на розсилку */

  .subscribe-container {
      display: block;
      flex-wrap: wrap;
      margin-left: auto;
      margin-right: auto;
      align-items: center;
      text-align: center;
      width: 100%;
      
       @include tel {
     align-items: center;
     width: 100%;
     margin: 0;
     text-align: center;
     display: block;
     margin-top: 60px;
     
  }
   @include tablet {
     
    display: flex;
flex-wrap: nowrap;

     align-items: flex-end;
     
    
     
     
     
  }
  @include desktop {
     display: flex;
      
      margin-left: 0;
      
      flex-basis: 25%;
      text-align: left;
      margin: 0;
      align-items: flex-end;
     width: 100%;
     display: inline-flex;
  
  justify-content: center;
  flex-wrap: nowrap;
  }
      
      & .button-hero {
      min-width: 200px;
      height: 50px;
      margin-left: auto;
      margin-right: auto;
      margin-top: 16px;
      font-size: 16px;
      line-height: 30px;
      display: flex;
      align-items: center;
    @include tel {
     margin:0 auto;
     margin-top: 20px;
     
  }
  @include tablet {
     margin: 0;
     
  }
  @include desktop {
     max-width: 200px;
      height: 50px;
      
      font-size: 16px;
      line-height: 30px;
      
      align-items: center;
      margin-left: 12px;
      
      display: inline-flex;
  
  justify-content: center;
      
  }
  }
  }

  .subscribe-img-icon {
      margin-left: 10px;
      fill: var(--primary-white-color);
  }

  .lisense {
      color: var(--accent-color);
      margin-left: 4px;
  }

  

  .subscribe-form-container label {


      font-family: 'Roboto';
      font-style: normal;
      font-weight: 700;
      font-size: 14px;
      line-height: 16px;
      letter-spacing: 0.03em;
      text-transform: uppercase;
      color: var(--primary-white-color);
      
      
      &.title {
      margin-bottom: 20px;
      display: block;

  }

  &.subscribe-form {

      display: flex;
      align-items: center;}
      flex-wrap: wrap;
      
  }
.subscribe-form-container{
    @include tablet {
     width: 264px;
     margin-right: 24px;
     text-align: start;
  }
}
  
   

  .subscribe-form {
      color: var(--primary-white-color);
      box-sizing: border-box;
      padding-left: 16px;
      padding-right: 16px;
      width: 100%;
      height: 50px;
      background: transparent;
      border: 1px solid rgba(255, 255, 255, 0.3);
      filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.15));
      border-radius: 4px;
      transition-duration: 250ms;
      transition-timing-function: var(--timing);
      &::placeholder {
      font-family: 'Roboto';
      font-style: normal;
      font-family: 'Roboto';
      font-style: normal;
      font-weight: 400;
      font-size: 16px;
      line-height: 20px;
      align-items: center;
      letter-spacing: 0.03em;
      color: rgba(255, 255, 255, 0.6);
  }
  &:hover,
  &:focus {
      border: 1px solid var(--accent-color);
      outline: transparent;
  }
  }

  