.peculiarities-list {
    display: flex;
    justify-content: center;
    align-items: center;
    & .item {

    justify-content: center;
    align-items: center;
    width: 270px;
    height: 120px;


}

& .item:not(:last-child) {
    margin-right: 30px;
}

& .title {
    margin-top: 0;
    margin-bottom: 10px;
    color: var(--title-text-color);
    font-weight: 700;
    font-size: 14px;
    line-height: 1.14;
    letter-spacing: 0.03em;
}

& .subtitle {
    margin-top: 0;
    margin-bottom: 0px;
    font-size: 14px;
    line-height: 1.71;
    letter-spacing: 0.03em;
}


}

.peculiarities-item {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 270px;
    height: 120px;
    margin-bottom: 30px;
    background-color: var(--background-button-color);
    border-radius: 4px;
    &:not(:last-child) {
    margin-right: 30px;
}

}



.peculiarities {
    padding-top: 94px;
    padding-bottom: 94px;
}

