.project-overlay {
      position: relative;
      overflow: hidden;
  }

  .link:hover .project-subtitle {
      transform: translateY(0);

  }

  .project-subtitle {
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      margin: 0;
      padding: 63px 24px;
      font-size: 18px;
      line-height: 1.56;
      color: var(--primary-white-color);
      background-color: rgba(33, 150, 243, 0.9);
      transform: translateY(100%);
      transition-duration: 250ms;
      transition-timing-function: var(--timing);
  }