.logo {
    display: block;
    padding-top: 24px;
    padding-bottom: 25px;
    margin-right: 93px;
    color: var(--primary-black-color);
    font-family: raleway, sans-serif;
    letter-spacing: 0.03em;
    font-weight: 700;
    font-size: 26px;
    line-height: 1.19;
    text-decoration: none;
    @include tel {
    margin-right: auto;
  }
}

.logo-style {
    color: var(--accent-color);

}